@model URLPerformanceTester.ViewModels.RequestTestsSetDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<table class="table table-hover">
    <thead>
        <tr>
            <td class="col-md-2">Creation time</td>
            <td class="col-md-6">URL</td>
            <td class="col-md-1">MinTime</td>
            <td class="col-md-1">MaxTime</td>
            <td class="col-md-2">Progress</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Model.CreationTime</th>
            <th><a>@Model.RequestUrl</a></th>
            <th>@Model.MinTime</th>
            <th>@Model.MaxTime</th>
            <th>@Model.UrLsTested of @Model.UrLsCount</th>
        </tr>
    </tbody>
</table>


<table class="table table-hover">
    <thead>
    <tr>
        <td  class="col-md-10">URL</td>
        <td  class="col-md-1">Time</td>
        <td  class="col-md-1">Status Code</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var urlTest in Model.UrlTestResults)
    {
        <tr>
            <th>@urlTest.Url</th>
            <th>@urlTest.Time</th>
            <th>@urlTest.StatusCode.ToString() (@((int) urlTest.StatusCode))</th>
        </tr>
    }
    </tbody>
</table>

